@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset css: Resetando as configurações padrões do navegador */
* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* Garante que a borda e o preenchimento sejam incluídos no tamanho total do elemento */
    font-family: 'Nunito', sans-serif; /* Define a fonte padrão */
}

body{
    height: 100vh;
    background-color: #fffcf9;
}

header {
    background-color: #ff7f4d;
    width: 100%;
    height: 60px;
}

header h2{
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}


nav.side-menu{
    width: 85px;
    height: 100%;
    background-color: #ffffff;
    padding: 20px 0 20px 1%;
    box-shadow: 3px 0 0 #ff7f4d;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.side-menu .logo img{
    width: 80px; /* Tamanho da largura do logo */
    height: 80px;
    padding-right: 10px;
    line-height: 35px;
    /* margin-bottom: 0px; */
    /* display: flex; */
}

nav.side-menu.expand{
    width: 300px;
}

.btn-expand{
    width: 100%;
    padding-left: 10px;
}

.btn-expand > ion-icon{
    color: black;
    font-size: 24px;
    cursor: pointer;
}
    
ul{
    height: 100%;
    list-style-type: none;
}

ul li.menu-item{
    transition: .2s;
}

ul li.ativo{
    background-color: #ff7f4d;
    border-top-left-radius: 20px;  /* Arredonda apenas o canto superior esquerdo */
    border-bottom-left-radius: 20px; /* Arredonda apenas o canto inferior esquerdo */

}

ul li.menu-item:hover{
    background: #ff7f4d;
    border-top-left-radius: 30px;  /* Arredonda apenas o canto superior esquerdo */
    border-bottom-left-radius: 30px; /* Arredonda apenas o canto inferior esquerdo */

}

ul li.menu-item a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 35px;

}

ul li.menu-item a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

nav.side-menu.expand .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.menu-item a .icon > ion-icon{
    font-size: 30px;
    margin-left: 7px;
}

section.short-link{
    /* background: red; */
    width: 70%;
    height: 70%;
    border-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    border: 5px solid rgb(255, 0, 0);
    border-top-left-radius: 20px;  /* Arredonda apenas o canto superior esquerdo */
    border-bottom-left-radius: 20px; /* Arredonda apenas o canto inferior esquerdo */
    border-top-right-radius: 20px;/* Arredonda apenas o canto superior esquerdo */
    border-bottom-right-radius: 20px; /* Arredonda apenas o canto inferior esquerdo */

}

section.container{
    background-color: #f5a484b2;
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 60%;
    margin-top: 110px;
    margin-left: 50px;
    /* max-width: 350px; */
}

section.container h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}

section.container input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
}

section.container input::placeholder{
    color: black;
}

section.container button{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fffcf9;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section.container button:hover{
    background-color: #ff7f4d;
}

section.container #resultado p {
    margin-top: 20px;
}

section.container #resultado a {
    color: blue;
    text-decoration: none;
}

section.container #resultado a:hover{
    text-decoration: underline;
}

@media (max-width: 600px) {

    section.container {

        padding: 20px;

    }

    h2 {

        font-size: 20px;

    }

    section.container button, input {
        padding: 10px;
    
            font-size: 16px;
    }

}

