@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset css: Resetando as configurações padrões do navegador */
* {
    margin: 0; /* Remove a margem padrão de todos os elementos */
    padding: 0; /* Remove o preenchimento padrão de todos os elementos */
    box-sizing: border-box; /* Garante que a borda e o preenchimento sejam incluídos no tamanho total do elemento */
    font-family: 'Nunito', sans-serif; /* Define a fonte padrão */
}

body{
    height: 100vh;
    background-color: #fffcf9;
}

nav.side-menu{
    width: 300px;
    height: 100%;
    background-color: #fc9261;
    padding: 40px 0 40px 1%;

}

